<div class="bg-white p-3 mt-3 rounded flex-fill">
    <h5 class="title">แก้ไข - ห้องพัก (จะดึงข้อมูลของอันที่กดมาใส่ทุก input)</h5>
    <hr>
    <form id="editroom-form" action="/editroom-submit" method="post">
        <div class="row">
            <div class="col-lg-6 col-sm-12 mb-2">
                <label for="noroom" class="form-label fw-bold">เลขที่ห้องพัก</label>
                <input type="text" class="form-control" id="noroom" name="noroom" required>
            </div>
            <div class="col-lg-6 col-sm-12">
                <label for="roomprice" class="form-label fw-bold">ค่าเช่า / เดือน</label>
                <input type="number" class="form-control" id="roomprice" name="roomprice" required>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <label for="roominfo" class="form-label fw-bold">รายละเอียดเพิ่มเติม</label>
                <input type="text" class="form-control" id="roominfo" name="roominfo">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-6">
                <button type="button" class="btn btn-warning form-control py-3" id="editroom-submit">แก้ไขห้องพัก</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-danger btn-lg form-control py-3" id="editroom-cancel">ยกเลิกการแก้ไข</button>
            </div>
        </div>
    </form>
</div>

<script src="editroom.js"></script>