<div class="d-flex justify-content-between align-items-center">
    <div class="">
        <h4 class="title">ใบแจ้งหนี้</h4>
        <p>จัดการ <span class="text-danger">ใบแจ้งหนี้ & ใบเสร็จ</span></p>
    </div>
    <div class="">
        <a href="/showinvoice" class="btn btn-primary text-light btn-lg form-button">ใบแจ้งหนี้</a>
        <a href="/showreceipt" class="btn btn-primary text-light btn-lg form-button"> ใบเสร็จรับเงิน</a>
    </div>
</div>

<div class="bg-white p-3 mt-3 rounded shadowing">
    <table class="table py-2 invoice-table" id="no-more-tables">
        <thead class="align-middle">
            <tr>
                <th>ห้อง</th>
                <th>ชื่อผู้เช่า</th>
                <th>วันที่เข้าพัก</th>
                <th>วันออกใบแจ้งหนี้</th>
                <th>กำหนดชำระเงิน</th>
                <th>ยอดชำระ</th>
                <th>สถานะ</th>
                <th class="text-center">ดำเนินการ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-title="ห้อง">db-1</td>
                <td data-title="ชื่อผู้เช่า">db-1</td>
                <td data-title="วันที่เข้าพัก">db-1</td>
                <td data-title="วันออกใบแจ้งหนี้">db-1</td>
                <td data-title="กำหนดชำระเงิน">db-1</td>
                <td data-title="ยอดชำระ">db-1</td>
                <td data-title="สถานะ">db-1</td>
                <td data-title="ดำเนินการ" class="text-center">
                    <div class="btn-table">
                        <!-- database ดึงข้อมูลตอนเลือกตอน loop กด click add  ตอนนั้น -->
                        <a href="/addreceipt" class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">สร้างใบเสร็จรับเงิน</a>
                        <a href="/addinvoice" class="btn btn-secondary btn-sm px-lg-4 px-md-3 mx-1">สร้างใบแจ้งหนี้</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="ห้อง">db-1</td>
                <td data-title="ชื่อผู้เช่า">db-1</td>
                <td data-title="วันที่เข้าพัก">db-1</td>
                <td data-title="วันออกใบแจ้งหนี้">db-1</td>
                <td data-title="กำหนดชำระเงิน">db-1</td>
                <td data-title="ยอดชำระ">db-1</td>
                <td data-title="สถานะ">db-1</td>
                <td data-title="ดำเนินการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">ใบเสร็จรับเงิน</button>
                        <button class="btn btn-secondary btn-sm px-lg-4 px-md-3 mx-1">ใบแจ้งหนี้</button>
                        
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="ห้อง">db-1</td>
                <td data-title="ชื่อผู้เช่า">db-1</td>
                <td data-title="วันที่เข้าพัก">db-1</td>
                <td data-title="วันออกใบแจ้งหนี้">db-1</td>
                <td data-title="กำหนดชำระเงิน">db-1</td>
                <td data-title="ยอดชำระ">db-1</td>
                <td data-title="สถานะ">db-1</td>
                <td data-title="ดำเนินการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">ใบเสร็จรับเงิน</button>
                        <button class="btn btn-secondary btn-sm px-lg-4 px-md-3 mx-1">ใบแจ้งหนี้</button>
                        
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="ห้อง">db-1</td>
                <td data-title="ชื่อผู้เช่า">db-1</td>
                <td data-title="วันที่เข้าพัก">db-1</td>
                <td data-title="วันออกใบแจ้งหนี้">db-1</td>
                <td data-title="กำหนดชำระเงิน">db-1</td>
                <td data-title="ยอดชำระ">db-1</td>
                <td data-title="สถานะ">db-1</td>
                <td data-title="ดำเนินการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">ใบเสร็จรับเงิน</button>
                        <button class="btn btn-secondary btn-sm px-lg-4 px-md-3 mx-1">ใบแจ้งหนี้</button>
                        
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="ห้อง">db-1</td>
                <td data-title="ชื่อผู้เช่า">db-1</td>
                <td data-title="วันที่เข้าพัก">db-1</td>
                <td data-title="วันออกใบแจ้งหนี้">db-1</td>
                <td data-title="กำหนดชำระเงิน">db-1</td>
                <td data-title="ยอดชำระ">db-1</td>
                <td data-title="สถานะ">db-1</td>
                <td data-title="ดำเนินการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">ใบเสร็จรับเงิน</button>
                        <button class="btn btn-secondary btn-sm px-lg-4 px-md-3 mx-1">ใบแจ้งหนี้</button>
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>