<div class="d-flex justify-content-between align-items-center">
    <div class="">
        <h4 class="title">ห้องพัก</h4>
        <p>จัดการ <span class="text-danger">ห้องพัก</span></p>
    </div>
    <!-- <div class="">
        <button class="btn btn-info text-light btn-lg"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#e8eaed"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg> เพิ่มห้องพัก</ิ>
    </div> -->
</div>

<div class="row">
    <div class="col-lg-6 col-sm-12 d-flex align-items-stretch">
        <div class="bg-white p-3 mt-3 rounded flex-fill justify-content-center">
            <h5 class="title">ให้เอาเลขออกไหม</h5>
            <hr>
            <canvas id="totalChart"></canvas>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 d-flex align-items-stretch">
        <div class="bg-white p-3 mt-3 rounded flex-fill">
            <h5 class="title">เพิ่ม - ห้องพัก</h5>
            <hr>
            <form action="/addroom" method="post">
                <div class="row">
                    <div class="col-6">
                        <label for="noroom" class="form-label">เลขที่ห้องพัก</label>
                        <input type="text" class="form-control" id="noroom" name="noroom" required>
                    </div>
                    <div class="col-6">
                        <label for="roomprice" class="form-label">ค่าเช่า / เดือน</label>
                        <input type="number" class="form-control" id="roomprice" name="roomprice" required>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <label for="roominfo" class="form-label">รายละเอียดเพิ่มเติม</label>
                        <input type="text" class="form-control" id="roominfo" name="roominfo">
                    </div>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary form-control form-button py-3">เพิ่มห้องพัก</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="bg-white p-3 mt-4 rounded">
    <table class="table py-2" id="no-more-tables">
        <thead>
            <tr>
                <th>#</th>
                <th>ห้องพัก</th>
                <th>ราคา</th>
                <th>รายละเอียด</th>
                <th>สถานะ</th>
                <th class="text-center">จัดการ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-title="#">1</td>
                <td data-title="ห้องพัก">C101</td>
                <td data-title="ราคา">7500</td>
                <td data-title="รายละเอียด">sarunbigboy</td>
                <td data-title="สถานะ">ว่าง</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <a href="/editroom" class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</a>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="#">2</td>
                <td data-title="ห้องพัก">C201</td>
                <td data-title="ราคา">5400</td>
                <td data-title="รายละเอียด">bamibibi nutcha</td>
                <td data-title="สถานะ">ว่าง</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="#">3</td>
                <td data-title="ห้องพัก">C301</td>
                <td data-title="ราคา">5800</td>
                <td data-title="รายละเอียด">bazz</td>
                <td data-title="สถานะ">ว่าง</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="#">4</td>
                <td data-title="ห้องพัก">A101</td>
                <td data-title="ราคา">5200</td>
                <td data-title="รายละเอียด">romieohm</td>
                <td data-title="สถานะ">ว่าง</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="#">5</td>
                <td data-title="ห้องพัก">A103</td>
                <td data-title="ราคา">6400</td>
                <td data-title="รายละเอียด">Somchoon</td>
                <td data-title="สถานะ">ว่าง</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="#">6</td>
                <td data-title="ห้องพัก">B202</td>
                <td data-title="ราคา">6500</td>
                <td data-title="รายละเอียด">Folkyes</td>
                <td data-title="สถานะ">ว่าง</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="#">7</td>
                <td data-title="ห้องพัก">C502</td>
                <td data-title="ราคา">7000</td>
                <td data-title="รายละเอียด">Supanorth</td>
                <td data-title="สถานะ">ว่าง</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<script>
    const userData = [
        { id: 1, name: "a", room: "C101", roomStatus: "ห้องเต็ม" },
        { id: 2, name: "b", room: "A103", roomStatus: "ห้องว่าง" },
        { id: 3, name: "c", room: "A203", roomStatus: "ห้องเต็ม" },
        { id: 4, name: "d", room: "A204", roomStatus: "ห้องว่าง" },
        { id: 5, name: "e", room: "A205", roomStatus: "ห้องว่าง" },
        { id: 6, name: "f", room: "A206", roomStatus: "ห้องเต็ม" },
        { id: 7, name: "g", room: "A207", roomStatus: "ห้องว่าง" }
    ];

    const roomStatusCounts = userData.reduce((acc, user) => {
        acc[user.roomStatus] = (acc[user.roomStatus] || 0) + 1;
        return acc;
    }, {});
    
    const labels = Object.keys(roomStatusCounts);
    const data = Object.values(roomStatusCounts);
    const colors = ['rgba(255, 255, 255, 1)', 'rgba(63, 114, 175, 0.8)'];
    const borderColor = ['rgba(214, 219, 224, 1)', 'rgba(44, 89, 138, 1)'];

    function createChart(chartId, type) {
    const ctx = document.getElementById(chartId).getContext('2d');
    new Chart(ctx, {
        type: type,
        data: {
            labels: labels,
            datasets: [{
                data: data,
                label: 'จำนวน',
                backgroundColor: colors,
                borderColor: borderColor,
                borderWidth: 2
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: true,
                    position: 'bottom',
                },
                datalabels: {
                    color: '#000',
                    font: {
                        weight: 'bold',
                        size: 13
                    },
                    align: 'center',
                    formatter: (value, context) => {
                        return `${value}`;
                    }
                }
            }
        },
        plugins: [ChartDataLabels]
    });
}

    createChart('totalChart', 'pie');
</script>