<div class="bg-white p-4 mt-3 rounded shadowing">
    <h4 class="title">บันทึก - มิเตอร์ไฟฟ้า / น้ำ</h4>
    <hr>
    <form id="editmeter-form" action="/editmeter" method="post">
        <div class="row mb-2">
            <div class="col-12">
                <label for="selectroom" class="form-label fw-bold">เลือกห้อง</label>
                    <select name="selectroom" id="selectroom" class="form-control" required>
                        <option value="roomno-fromdb">เลขห้องทั้งหมด ดึงจาก db เอา</option>
                    </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-6 col-sm-12 mb-2">
                <label for="electricmeter" class="form-label text-warning fw-bold">มิเตอร์ค่าไฟฟ้า</label>
                <input type="number" class="form-control mb-2" id="electricmeter" name="electricmeter" required>
                <p class="p-0 m-0 text-danger fw-bold">วันที่บันทึกมิเตอร์ไฟฟ้าล่าสุด : (วันที่)</p>
                <p class="p-0 m-0 text-danger fw-bold">เลขมิเตอร์ก่อนบันทึก : (เลข)</p>
            </div>
            <div class="col-lg-6 col-sm-12 mb-2">
                <label for="watermeter" class="form-label text-info fw-bold">มิเตอร์ค่าน้ำ</label>
                <input type="number" class="form-control mb-2" id="watermeter" name="watermeter" required>
                <p class="p-0 m-0 text-danger fw-bold">วันที่บันทึกมิเตอร์น้ำล่าสุด : (วันที่)</p>
                <p class="p-0 m-0 text-danger fw-bold">เลขมิเตอร์ก่อนบันทึก : (เลข)</p>
            </div>
        </div>
        <button type="submit" class="btn btn-success form-control py-3">ยืนยันการบันทึก</button>
    </form>
</div>

<div class="bg-white p-4 mt-4 rounded shadowing">
    <h4 class="title">กำหนดราคา - ไฟฟ้า / น้ำ</h4>
    <hr>
    <form id="editprice-form" action="/editprice" method="post">
        <div class="row mb-3">
            <% data.forEach((item)=>{ %>
            <div class="col-lg-6 col-sm-12 mb-2">
                <label for="electricprice" class="form-label text-warning fw-bold">ค่าไฟฟ้า / หน่วย</label>
                <input type="number" class="form-control mb-2" id="electricprice" name="electricprice" value="<%=item.elec_rate%>" required>
            </div>
            <div class="col-lg-6 col-sm-12 mb-2">
                <label for="waterprice" class="form-label text-info fw-bold">ค่าน้ำ / หน่วย</label>
                <input type="number" class="form-control mb-2" id="waterprice" name="waterprice" value="<%=item.water_rate%>" required>
            </div>
            <% }); %>
        </div>
        <button type="submit" class="btn btn-success form-control py-3">ยืนยันการกำหนดราคา</button>
    </form>
</div>