<div class="card shadowing">
    <div class="d-flex justify-content-between align-items-center bg-white text-dark shadowing">
        <div class="mx-4 my-3">
            <h4 class="card-title">ผู้ใช้งาน & ผู้เช่า</h4>
            <p class="card-text">จัดการ <span class="text-danger">ผู้ใช้งาน & ผู้เช่า</span></p>
        </div>
        <div class="mx-4">
            <button class="btn btn-info btn-lg text-light">เพิ่มผู้ใช้งาน & ผู้เช่า</button>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ชื่อ</th>
                    <th>ห้องพัก</th>
                    <th>บทบาท</th>
                    <th>สถานะ</th>
                    <th class="text-center">จัดการ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>b</td>
                    <td>C101</td>
                    <td>ผู้ดูแล</td>
                    <td>ใช้งาน</td>
                    <td class="text-center">
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-success btn-sm px-lg-4 mx-1">แสดง</button>
                            <button class="btn btn-warning btn-sm px-lg-4 mx-1">แก้ไข</button>
                            <button class="btn btn-danger btn-sm px-lg-4 mx-1">ลบ</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>LoIvuzZhxXn</td>
                    <td>A103</td>
                    <td>ผู้เช่า</td>
                    <td>ใช้งาน</td>
                    <td class="text-center">
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-success btn-sm px-lg-4 mx-1">แสดง</button>
                            <button class="btn btn-warning btn-sm px-lg-4 mx-1">แก้ไข</button>
                            <button class="btn btn-danger btn-sm px-lg-4 mx-1">ลบ</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>ADWDAWDAWDAW</td>
                    <td>A203</td>
                    <td>ผู้เช่า</td>
                    <td>ใช้งาน</td>
                    <td class="text-center">
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-success btn-sm px-lg-4 mx-1">แสดง</button>
                            <button class="btn btn-warning btn-sm px-lg-4 mx-1">แก้ไข</button>
                            <button class="btn btn-danger btn-sm px-lg-4 mx-1">ลบ</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>