<div class="d-flex justify-content-between align-items-center">
    <div class="">
        <h4 class="title">ผู้ใช้งาน & ผู้เช่า</h4>
        <p>จัดการ <span class="text-danger">ผู้ใช้งาน & ผู้เช่า</span></p>
    </div>
    <div class="">
        <a href="/adduser" class="btn btn-info text-light btn-lg"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#e8eaed"><path d="M720-400v-120H600v-80h120v-120h80v120h120v80H800v120h-80Zm-360-80q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm80-80h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0-80Zm0 400Z"/></svg> เพิ่มผู้ใช้งาน</a>
    </div>
</div>

<div class="bg-white p-3 mt-3 rounded shadowing">
    <table class="table py-2 manage-user-table" id="no-more-tables">
        <thead>
            <tr>
                <th>#</th>
                <th>ชื่อ</th>
                <th>ห้องพัก</th>
                <th>บทบาท</th>
                <th>สถานะ</th>
                <th class="text-center">จัดการ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-title="#">1</td>
                <td data-title="ชื่อ">sarunbigboy</td>
                <td data-title="ห้องพัก">C101</td>
                <td data-title="บทบาท">ผู้ดูแล</td>
                <td data-title="สถานะ">ใช้งาน</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">แสดง</button>
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="#">2</td>
                <td data-title="ชื่อ">bamibibi nutcha</td>
                <td data-title="ห้องพัก">C201</td>
                <td data-title="บทบาท">ผู้เช่า</td>
                <td data-title="สถานะ">ใช้งาน</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">แสดง</button>
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="#">3</td>
                <td data-title="ชื่อ">bazz</td>
                <td data-title="ห้องพัก">C301</td>
                <td data-title="บทบาท">ผู้เช่า</td>
                <td data-title="สถานะ">ใช้งาน</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">แสดง</button>
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="#">4</td>
                <td data-title="ชื่อ">romieohm</td>
                <td data-title="ห้องพัก">A101</td>
                <td data-title="บทบาท">ผู้เช่า</td>
                <td data-title="สถานะ">ใช้งาน</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">แสดง</button>
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="#">5</td>
                <td data-title="ชื่อ">Somchoon</td>
                <td data-title="ห้องพัก">A103</td>
                <td data-title="บทบาท">ผู้เช่า</td>
                <td data-title="สถานะ">ใช้งาน</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">แสดง</button>
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="#">6</td>
                <td data-title="ชื่อ">Folkyes</td>
                <td data-title="ห้องพัก">B202</td>
                <td data-title="บทบาท">ผู้เช่า</td>
                <td data-title="สถานะ">ใช้งาน</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">แสดง</button>
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="#">7</td>
                <td data-title="ชื่อ">Supanorth</td>
                <td data-title="ห้องพัก">C502</td>
                <td data-title="บทบาท">ผู้เช่า</td>
                <td data-title="สถานะ">ใช้งาน</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">แสดง</button>
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="#">8</td>
                <td data-title="ชื่อ">Wathasinn</td>
                <td data-title="ห้องพัก">D201</td>
                <td data-title="บทบาท">ผู้เช่า</td>
                <td data-title="สถานะ">ใช้งาน</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">แสดง</button>
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="#">9</td>
                <td data-title="ชื่อ">Kittiphot</td>
                <td data-title="ห้องพัก">A503</td>
                <td data-title="บทบาท">ผู้เช่า</td>
                <td data-title="สถานะ">ใช้งาน</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">แสดง</button>
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="#">10</td>
                <td data-title="ชื่อ">Chanokchon</td>
                <td data-title="ห้องพัก">B204</td>
                <td data-title="บทบาท">ผู้เช่า</td>
                <td data-title="สถานะ">ใช้งาน</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">แสดง</button>
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="#">11</td>
                <td data-title="ชื่อ">Manprap</td>
                <td data-title="ห้องพัก">E307</td>
                <td data-title="บทบาท">ผู้เช่า</td>
                <td data-title="สถานะ">ใช้งาน</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">แสดง</button>
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="#">12</td>
                <td data-title="ชื่อ">nutcha</td>
                <td data-title="ห้องพัก">C201</td>
                <td data-title="บทบาท">ผู้เช่า</td>
                <td data-title="สถานะ">ใช้งาน</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">แสดง</button>
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="#">13</td>
                <td data-title="ชื่อ">brazzeer</td>
                <td data-title="ห้องพัก">C301</td>
                <td data-title="บทบาท">ผู้เช่า</td>
                <td data-title="สถานะ">ใช้งาน</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">แสดง</button>
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="#">14</td>
                <td data-title="ชื่อ">romie</td>
                <td data-title="ห้องพัก">A101</td>
                <td data-title="บทบาท">ผู้เช่า</td>
                <td data-title="สถานะ">ใช้งาน</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">แสดง</button>
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="#">15</td>
                <td data-title="ชื่อ">choon</td>
                <td data-title="ห้องพัก">A103</td>
                <td data-title="บทบาท">ผู้เช่า</td>
                <td data-title="สถานะ">ใช้งาน</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">แสดง</button>
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="#">16</td>
                <td data-title="ชื่อ">Folky</td>
                <td data-title="ห้องพัก">B202</td>
                <td data-title="บทบาท">ผู้เช่า</td>
                <td data-title="สถานะ">ใช้งาน</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">แสดง</button>
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="#">17</td>
                <td data-title="ชื่อ">Snorth</td>
                <td data-title="ห้องพัก">C502</td>
                <td data-title="บทบาท">ผู้เช่า</td>
                <td data-title="สถานะ">ใช้งาน</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">แสดง</button>
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="#">18</td>
                <td data-title="ชื่อ">Wasinn</td>
                <td data-title="ห้องพัก">D201</td>
                <td data-title="บทบาท">ผู้เช่า</td>
                <td data-title="สถานะ">ใช้งาน</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">แสดง</button>
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="#">19</td>
                <td data-title="ชื่อ">Kittit</td>
                <td data-title="ห้องพัก">A503</td>
                <td data-title="บทบาท">ผู้เช่า</td>
                <td data-title="สถานะ">ใช้งาน</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">แสดง</button>
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="#">20</td>
                <td data-title="ชื่อ">nokchon</td>
                <td data-title="ห้องพัก">B204</td>
                <td data-title="บทบาท">ผู้เช่า</td>
                <td data-title="สถานะ">ใช้งาน</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">แสดง</button>
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-title="#">21</td>
                <td data-title="ชื่อ">S Manpraw</td>
                <td data-title="ห้องพัก">E307</td>
                <td data-title="บทบาท">ผู้เช่า</td>
                <td data-title="สถานะ">ใช้งาน</td>
                <td data-title="จัดการ" class="text-center">
                    <div class="btn-table">
                        <button class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">แสดง</button>
                        <button class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</button>
                        <button class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>