<div class="d-flex justify-content-between align-items-center">
    <div class="">
        <h4 class="title">แจ้งเตือนพัสดุ</h4>
        <p>จัดการ <span class="text-danger">แจ้งเตือนพัสดุ</span></p>
    </div>
</div>