<div class="d-flex justify-content-between">
    <div class="">
        <h4 class="title">ใบเสร็จ</h4>
        <p>จัดการ <span class="text-danger">ใบเสร็จ</span></p>
    </div>
    <div class="">
        <a href="/invoice" class="btn btn-danger btn-lg"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#e8eaed"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg> ย้อนกลับ</a>
    </div>
</div>

<div class="bg-white p-3 mt-3 rounded shadowing">
    <table class="table py-2 showreceipt-table" id="no-more-tables">
        <thead>
            <tr>
                <th>ห้อง</th>
                <th>ชื่อผู้เช่า</th>
                <th>วันที่เข้าพัก</th>
                <th>วันออกใบแจ้งหนี้</th>
                <th>กำหนดชำระเงิน</th>
                <th>ยอดชำระ</th>
                <th>สถานะ</th>
                <th class="text-center">ดำเนินการ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-title="ห้อง">db-1</td>
                <td data-title="ชื่อผู้เช่า">db-1</td>
                <td data-title="วันที่เข้าพัก">db-1</td>
                <td data-title="วันออกใบแจ้งหนี้">db-1</td>
                <td data-title="กำหนดชำระเงิน">db-1</td>
                <td data-title="ยอดชำระ">db-1</td>
                <td data-title="สถานะ">db-1</td>
                <td data-title="ดำเนินการ" class="text-center">
                    <div class="btn-table">
                        <!-- database ดึงข้อมูลตอนเลือกตอน loop กด click add  ตอนนั้น -->
                        <a href="/showreceipt" class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">ใบเสร็จรับเงิน</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>