* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Sarabun", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Prompt", sans-serif;
}


:root {
	--light: #fff;
	--dark: #000;
	--blue: #3f72af;
	--light-blue: #D0E4FF;
	--dark-blue: #112d4e;
	/* --dark-blue: linear-gradient(90deg, #112d4e 30%, #3f72af 100%); */
	--grey: #F1F0F6;
	--dark-grey: #8D8D8D;
	--red: #FC3B56;
	--green: #81D43A;
	--light-green: #E3FFCB;
}

html {
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
	background: var(--grey) !important;
}

a {
	text-decoration: none !important;
}

li {
	list-style: none;
}


/* SIDEBAR */
#sidebar {
	font-family: "Trirong", serif;
	position: fixed;
	max-width: 260px;
	width: 100%;
	background: var(--dark-blue);
	/* background: linear-gradient(90deg, #112d4e 0%, #3f72af 100%); */
	top: 0;
	left: 0;
	height: 100%;
	overflow-y: auto;
	scrollbar-width: none;
	transition: all .3s ease;
	z-index: 200;
}
#sidebar.hide {
	max-width: 60px;
}
#sidebar.hide:hover {
	max-width: 260px;
}
#sidebar::-webkit-scrollbar {
	display: none;
}
#sidebar .brand {
	font-size: 24px;
	display: flex;
	align-items: center;
	height: 84px;
	font-weight: 700;
	color: var(--light);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	background: var(--dark-blue);
	/* background: linear-gradient(90deg, #112d4e 0%, #3f72af 100%); */
	transition: all .3s ease;
	padding: 0 6px;
}
#sidebar .icon {
	min-width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 6px;
    fill: var(--light);
}
#sidebar .icon-right {
	margin-left: auto;
	transition: all .3s ease;
}
#sidebar .side-menu {
	margin: 36px 0;
	padding: 0 20px;
	transition: all .3s ease;
}
#sidebar.hide .side-menu {
	padding: 0 6px;
}
#sidebar.hide:hover .side-menu {
	padding: 0 20px;
}
#sidebar .side-menu a {
	display: flex;
	align-items: center;
	font-size: 18px;
	color: var(--light);
	padding: 12px 16px 12px 0;
	transition: all .3s ease;
	border-radius: 10px;
	margin: 4px 0;
	white-space: nowrap;
}
#sidebar .side-menu > li > a:hover {
	background: var(--blue);
}
#sidebar .side-menu > li > a.active .icon-right {
	transform: rotateZ(90deg);
}
#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover {
	background: var(--blue);
	color: var(--light);
}
#sidebar .divider {
	margin-top: 24px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--light-blue);
	transition: all .3s ease;
	white-space: nowrap;
}
#sidebar.hide:hover .divider {
	text-align: left;
}
#sidebar.hide .divider {
	text-align: center;
}
#content {
	position: relative;
	width: calc(100% - 260px);
	left: 260px;
	transition: all .3s ease;
}
#sidebar.hide + #content {
	width: calc(100% - 60px);
	left: 60px;
}


/* NAVBAR */
nav {
	/* background: var(--blue); */
	background: linear-gradient(90deg, #112d4e 20%, #3f72af 80%);
	height: 84px;
	padding: 0 20px;
	display: flex;
	align-items: center;
	grid-gap: 28px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
}
nav .toggle-sidebar {
	font-size: 25px;
	cursor: pointer;
    color: var(--light);
}
nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
nav .form-group {
	position: relative;
}
nav .form-group input {
	width: 100%;
	background: var(--grey);
	border-radius: 5px;
	border: none;
	outline: none;
	padding: 10px 36px 10px 16px;
	transition: all .3s ease;
}
nav .form-group input:focus {
	box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}
nav .form-group .icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 16px;
	color: var(--dark-grey);
}
nav .nav-link {
	position: relative;
}
nav .nav-link .icon {
	font-size: 18px;
	color: var(--dark);
}
nav .nav-link .badge {
	position: absolute;
	top: -8px;
	right: -8px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--light);
	font-size: 10px;
	font-weight: 700;
}
nav .divider {
	width: 1px;
	background: var(--grey);
	height: 12px;
	display: block;
}
nav .profile {
	position: relative;
}
nav .profile img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}
nav .profile .profile-link {
	position: absolute;
	top: calc(100% + 10px);
	right: 0;
	background: var(--light);
	padding: 10px 0;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
	border-radius: 10px;
	width: 160px;
	opacity: 0;
	pointer-events: none;
	transition: all .3s ease;
}
nav .profile .profile-link.show {
	opacity: 1;
	pointer-events: visible;
	top: 100%;
}
nav .profile .profile-link a {
	padding: 10px 16px;
	display: flex;
	grid-gap: 10px;
	font-size: 14px;
	color: var(--dark);
	align-items: center;
	transition: all .3s ease;
}
nav .profile .profile-link a:hover {
	background: var(--grey);
}
/* NAVBAR */


/* MAIN */
main {
	width: 100%;
	padding: 24px 20px 20px 20px;
    background: var(--grey);
}
main .title {
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 10px;
}
main .form-button {
	background: var(--blue);
}
main .shadowing {
	box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}
/* MAIN */


.btn-table {
    display: flex;
    justify-content: center;
}

tbody tr td {
    align-content: center;
}


@media only screen and (max-width:950px) {
    #no-more-tables tbody,
    #no-more-tables tr,
    #no-more-tables td {
        display: block;
    }
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    #no-more-tables td {
        position: relative;
        padding-left: 50%;
        border: none;
        border-bottom: 1px solid #eee;
    }
    #no-more-tables td:before {
        content: attr(data-title);
        position: absolute;
        left: 6px;
        font-weight: bold;
    }
    #no-more-tables tr {
        border-bottom: 1px solid #ccc;
    }
    .btn-table {
        justify-content: flex-start;
    }
    main .title {
        font-size: 30px;
    }
}


@media screen and (max-width: 768px) {
	#content {
		position: relative;
		width: calc(100% - 60px);
		transition: all .3s ease;
	}
	/* nav .nav-link,
	nav .divider {
		display: none;
	} */
}

#chart{
	font-size: 35px;
	/* border: 2px solid black; */
}

.receipt{
	width: 750px;
	background-color: #c0d3e9;
	justify-content: center;
	/* border: solid 2px black; */
}
.receipt table{
	width: 100%; border-collapse: collapse; margin-top: 12px;
}
.receipt tr,.receipt td,.receipt th{
	border: 1px solid #000000; padding: 8px; text-align: left;
}
#parcelChart {
    max-width: 100%;
    height: 300px;
}
@keyframes shake {
	0% {
		transform: translate(0, 0);
		box-shadow: 0 0 10px 3px rgba(255, 0, 0, 0.5);
	}

	25% {
		transform: translate(-5px, -5px);
		box-shadow: 0 0 10px 3px rgba(255, 0, 0, 0.5);
	}

	50% {
		transform: translate(5px, 5px);
		box-shadow: 0 0 10px 3px rgba(255, 0, 0, 0.5);
	}

	75% {
		transform: translate(-5px, -5px);
		box-shadow: 0 0 10px 3px rgba(255, 0, 0, 0.5);
	}

	100% {
		transform: translate(5px, 5px);
		box-shadow: 0 0 10px 3px rgba(255, 0, 0, 0.5);
	}
}

.shake {
	animation: shake 0.5s ease-in-out 10;
	animation-iteration-count: 1;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.invalid {
	visibility: hidden;
	opacity: 0;
	color: red;
	text-align: center;
}

.invalid.show {
	visibility: visible;
	opacity: 1;
	padding-top: 20px;
}